/* game board table */
/* color pallete based on https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(128, 81, 84);
  background: linear-gradient(90deg, rgba(128, 81, 84, 1) 0%, rgba(238, 233, 226, 1) 50%, rgba(137, 146, 154, 1) 100%);
}

#board td {
  width: 4rem;
  height: 4rem;
  border: solid 1.5px #624104;
  background-color: #fdf0d5;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.p1 {
  background-color: #c1121f;
  border: dashed 3.5px #780000;
}

.p2 {
  background-color: #669bbc;
  border: dashed 3.5px #00507A;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  background-color: #FEF8EC;
  border: solid 2px #fdf0d5;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: #F7C864;
  border: dashed 2px #F6B128;
}