/* game board table */
/* color pallete based on https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */

#board td {
  width: 4rem;
  height: 4rem;
  border: solid 1px #666;
  background-color: #fdf0d5;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.p1 {
  color: #c1121f;
}

.p2 {
  color: #669bbc;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  background-color: #FEF8EC;
  border: dashed 1px lightgray;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: #F7C864;

}