/* game board table */
/* color pallete based on https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Londrina Solid', cursive;
  font-size: 20px;
  color: #3A2903;
  text-shadow: 3px 3px #FEF8EC;
  /* gradient created with https://cssgradient.io/ */
  background: rgb(193, 18, 31);
  background: linear-gradient(90deg, rgba(193, 18, 31, 1) 0%, rgba(253, 240, 213, 1) 50%, rgba(102, 155, 188, 1) 100%);
}

button {
  background-color: #F7C864;
  padding: 15px;
  margin-top: 10%;
  font-family: 'Londrina Solid', cursive;
  font-size: 25px;
  border-radius: 10%;
}

button:hover {
  background-color: #F6B128;
  box-shadow: 0px 2px 3px #614205;
}

#board td {
  width: 6rem;
  height: 6rem;
  border: solid 1.5px #624104;
  border-radius: 8%;
  background-color: #fdf0d5;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.p1 {
  background-color: #c1121f;
  border: dashed 3.5px #780000;
}

.p2 {
  background-color: #669bbc;
  border: dashed 3.5px #00507A;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  background-color: #FEF8EC;
  border: solid 2px #fdf0d5;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: #F7C864;
  border: dashed 2px #F6B128;
}